* {
    font-family: Montserrat;
}
body {
    background-color: #9ccfd8;
    padding-top: 5%;
}
.pages {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 1.1em;
}
a {
    text-decoration: none;
}
.sidenav {
    height: 100%;
    width: 25%;
    background-color: #c4a7e7;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 20px;  
}
h1 {
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.flex {
    padding-left: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flex-item {
    width: 180px;
    height: 130px;
    background-color: #e0def4;
}
form {
    padding-left: 450px;
}
input {
    padding: 10px;
    width: 250px;
}
#text {
    display: block;
    margin: 2em;
}
#submit {
    background-color: #31748f;
    color: white;
    width: 160px;
    border-radius: 7px;
    border-color: #31748f;
    margin-left: 2em;
}
#cancel {
    background-color: #eb6f92;
    border-radius: 7px;
    border-color: #eb6f92;
    width: 100px;
    margin-left: 0.6em;
}
p {
    display: block;
    margin-left: 30%;
    padding-bottom: 10px;
    color: #26233a;
}
#email {
    margin-top: 50px;
}
img {
    border-radius: 50%;
    width: 8%;
    height: 8%;
    display: block;
    margin-left: 32%;
}
h2{
    padding-left: 32%;  
    color: #26233a;
    display: inline;
    padding-bottom: 50px;
}
.avatar {
    margin-left: 50%;
    margin-right: 50%;
    margin-top: -10%;
    display: inline;
}
@media only screen and (max-width: 500px) {
    h1 {
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .pages {
        display: block;
        text-align: center;
        padding: 20px;
        font-size: 0.9em;
    }
    .flex {
        padding-top: 70px;
        padding-left: 350px;
        margin-right: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    .sidenav {
        height: 100%;
        width: 40%;
        background-color: #c4a7e7;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        padding-top: 20px;  
    }
    img {
        border-radius: 50%;
        width: 20%;
        height: 20%;
        display: block;
        margin-left: 90%;
        margin-top: 8%;
    }
    #submit {
        background-color: #31748f;
        color: white;
        width: 160px;
        border-radius: 7px;
        border-color: #31748f;
        margin-left: 2em;
        display: block;
    }
    #cancel {
        background-color: #eb6f92;
        border-radius: 7px;
        border-color: #eb6f92;
        width: 100px;
        margin-left: 0.6em;
        display: block;
    }
    form {
        padding-left: 200px;
    }
    input {
        padding: 10px;
        width: 150px;
    }
}