body {
    background-color: #9ccfd8;
}
.pages {
    display: block;
    text-align: center;
    padding: 20px;
    font-family: Montserrat;
    font-size: 1.1em;
}
a {
    text-decoration: none;
}
.sidenav {
    height: 100%;
    width: 25%;
    background-color: #c4a7e7;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 20px;  
}
h1 {
    font-family: Montserrat;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.flex {
    padding-top: 70px;
    padding-left: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.flex-item {
    font-family: Montserrat;
    width: 180px;
    height: 130px;
    background-color: #e0def4;
}