body {
    background-color: #9ccfd8;
}
.pages {
    display: block;
    text-align: center;
    padding: 20px;
    font-family: Montserrat;
    font-size: 1.1em;
}
a {
    text-decoration: none;
}
.sidenav {
    height: 100%;
    width: 25%;
    background-color: #c4a7e7;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 20px;  
}
h1 {
    font-family: Montserrat;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.flex {
    padding-top: 70px;
    padding-left: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.flex-item {
    font-family: Montserrat;
    width: 180px;
    height: 130px;
    background-color: #e0def4;
}
form {
    padding-left: 450px;
}
input {
    padding: 10px;
    width: 250px;
    font-family: Montserrat;
}
#text {
    display: block;
    margin: 2em;
}
#submit {
    background-color: #31748f;
    color: white;
    width: 160px;
    border-radius: 7px;
    border-color: #31748f;
    margin-left: 2em;
}
#cancel {
    background-color: #eb6f92;
    border-radius: 7px;
    border-color: #eb6f92;
    width: 100px;
    margin-left: 0.6em;
}
img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: 32%;
    margin-top: 8%;
}
